<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledge</title>

    <style>
        /* .hero{
            display: flex;
            justify-content: space-between;
        } */

        .ackImage {
            margin-left: 28vw;
        }

        .action1 {
            float: left;
            display: inline;
            margin-left: 37vw;
        }

        .action2 {
            float: right;
            display: inline;
            margin-right: 37vw;
        }
    </style>

</head>

<body>

    <div class="hero">
        <div class="ackImage">

            <img src="acknowledge.png" alt="acknowledgement image" height="450vh" width="640vw">

        </div>

        <div class="acknowledge">

            <div class="success-message">
                <h1 align="center">Your certificates are ready!</h1>
            </div>

            <div class="action1">
                <button>

                    <a href="#" class="button download">
                        <span class="button-icon">⬇</span>
                        Download Certificates
                    </a>
                </button>
            </div>

            <div class="action2">
                <button>
                    <a href="#" class="button home">
                        <span class="button-icon"></span>
                        Go Home
                    </a>
                </button>
            </div>

            <!-- <h1 align="center" style="margin-bottom: 10vh;">Certificates generated successfully. </h1>
            <h2 align="left" style="display: inline; margin-left: 2vw;">Download your Certificates from here: </h2>
            <h2 style="display: inline; margin-left: 15vw;"> Go to home: <a href="/csv">home</a> </h2>
            <h2 align="right" style="display: inline; margin-left: 20vw;"> Actual data: <a href="/csvFile">data</a> </h2> -->

        </div>

    </div>

</body>

</html>